%br
%h3 Recent
%hr

.sample#inman
  .type
    %p Inman.com Typography Guide
    =link_to "Open in new tab", "https://inman-design.herokuapp.com/", :target => "_blank"
  =link_to image_tag("https://storage.googleapis.com/coab-assets/images/type-intro.png", :class => "code-thumb"), "https://inman-design.herokuapp.com", :target => "_blank"
%hr

.sample
  %h6 Product Demo, Wireframe Viewer
  %p Code Used: Javascript, Three.js library
  %p Tools Used: Blender, Atom
  #threeD-viewer

%br

.sample
  %hr
  %h6 Product Demo, Scroll Animation
  %p Code Used: Javascript, Waypoints library
  %p Tools Used: Atom, Photoshop, Camera

.sample
  %section#productSlide
    =render "/shared/slider_slides"

= javascript_pack_tag 'productScrollSlide'
= javascript_pack_tag 'a-waypoints'

%script{:src => "https://cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"}
%script{:src => "https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"}
= javascript_pack_tag 'threeD'
