= javascript_pack_tag 'threeD'

%br
%h3 Some snippets from recent personal projects, as most of my code from work is propriatery.

%hr
%p This is a Three.js product wireframe viewer
#threeD-viewer

%br
%hr
%p more coming sooooon
-# %p This is another product viewer with scroll based animation
