
%br
%h3 Recent examples from a personal project

%hr
%h6 Product Demo, Wireframe Viewer
%p Code Used: Javascript, Three.js library
%p Tools Used: Blender, Atom
#threeD-viewer

%br
%hr
%h6 Product Demo, Scroll Animation
%p Code Used: Javascript, Waypoints library
%p Tools Used: Atom, Photoshop, Camera

%section#productSlide
  =render "/shared/slider_slides"

= javascript_pack_tag 'productScrollSlide'
= javascript_pack_tag 'a-waypoints'

%script{:src => "https://cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"}
%script{:src => "https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"}
= javascript_pack_tag 'threeD'
