.project#sbnu
  %h3
    SB Nation United
    %span Art Director & Lead Designer
  .gallery-entry
    .slide
      =image_tag "https://storage.googleapis.com/coab-assets/images/sbnu-titleslide.jpg"
      .text
        %p.caption Our challenge to solve was a much overdue redesign and rebrand on a network of over 300 active communities and do so in a way that could be templatized without losing individuality. I lead the design on this one year project with a team of five designers.

  .gallery-entry
    .slide
      =image_tag "https://storage.googleapis.com/coab-assets/images/sbnu-logoslide.jpg"
      .text
        %p.caption The process of simultaneously rebranding 300 community designed and loved logos, was a tall order. We hired and managed a talented sports logo designer out of the UK to tackle the monumental task. It was a lot, but he got it done and the branding system as a whole was a great success.

  .gallery-entry
    .slide
      =image_tag "https://storage.googleapis.com/coab-assets/images/sbnu-megaslide.jpg"
      .text
        %p.caption For hundreds of sites that revolved around reading, the typography had to be perfect and act as the backkbone of the interface and design.

.project#inman
  %h3
    Inman
    %span Visual Design

  .gallery-entry
    .slide
      =image_tag "https://storage.googleapis.com/coab-assets/images/inmanUX.jpg"
      .text
        %h4.title UI/UX
        %p.caption Over a two year contract, I was responsible for exploring the UI and UX for Inman.com's editorial pages and conference support products.

  .gallery-entry
    .slide
      =image_tag "https://storage.googleapis.com/coab-assets/images/inmaneditart.jpg"
      .text
        %h4.title Editorial Illustrations
        %p.caption Daily quick collaborations with the editorial team to produce story art. The challenge was to create impactful and relevant story art using free stock photography in about 15 minutes.

.project#unison
  %h3
    Unison Platform Migration & Redesign
    %span Lead Designer
  .gallery-entry
    .slide
      =image_tag "https://storage.googleapis.com/coab-assets/images/thevergehome.jpg"
      .text
        %h4.title Verge Homepage
        %p.caption This was another project aimed at consolidating brands within a publishing platform, so that we could onboard new brands within a single code base. My role was principle dsigner and I was responsible for recreating their home page systems and visual design

    .slide
      =image_tag "https://storage.googleapis.com/coab-assets/images/verge-mastheads.jpg"
      .text
        %h4.title Rotating Mastheads
        %p.caption To keep the verge's hoomepage fresh we designed the lyaout to accomidate a variety of measthead art and taglines. In house designers and guest illusrator have done an amazing job of keeping them going.

.project#vakko
  %h3
    Vakko
    %span Lead Front End
  .gallery-entry
    .slide
      =image_tag "https://storage.googleapis.com/coab-assets/images/vakkohome.jpg"
      .text
        %h4.title Vakko Homepage
        %p.caption I led the front end development and did deisgn support where need be.

= javascript_pack_tag 'scrollNav'
= javascript_pack_tag 'bwaypoints'
