%section.left-column
  %h1
    %span
      John
    %br
    Fuller
  %h4 Front End Designer

  %ul.nav
    %li code
    %li resume
    %li
      work gallery
      %p use pictures from ted's persentation
    %li about

  .contact-info
    %p.email
      johnsfuller@gmail.com
    %p.phone-number
      202-681-8640

%section.right-column
  %ul.code-examlples
    %li.item
      %p.title
      %p.description
      %p.markup
      %p.styles
      %p.js
