.intro
  .paragraphs
    %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    %p Voluptatem accusantium laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
  %p
    Quia consequuntur magni eos qui ratione sequi nesciunt.
    %span.byline - Lorem Ipsum, dolor corp. 
%ul.logo-strip
  %li
  %li
  %li
  %li
  %li
  %li
  %li
  %li
  %li
  %li
%ul.photo-grid
  %li
  %li
  %li
  %li
