.intro
  %h2 Hello.
  %p I'm a product designer out of Baltimore. My formal training is in graphic design and front end, with a focus on typography. My experience is with high traffic editorial brands, doing UI/UX, visual design and front end.
%ul.logo-strip
  %li
    =link_to image_tag('https://storage.googleapis.com/coab-assets/images/sbn.png'), 'sbnation.com', :target => '_blank'
  %li
    =link_to image_tag('https://storage.googleapis.com/coab-assets/images/recode.png'), 'recode.net', :target => '_blank'
  %li
    =link_to image_tag('https://storage.googleapis.com/coab-assets/images/eater.png'), 'eater.com', :target => '_blank'
  %li
    =link_to image_tag('https://storage.googleapis.com/coab-assets/images/verge.png'), 'theverge.com', :target => '_blank'
  %li
    =link_to image_tag('https://storage.googleapis.com/coab-assets/images/curbed.png'), 'curbed.com', :target => '_blank'
  %li
    =link_to image_tag( 'https://storage.googleapis.com/coab-assets/images/polygon.png'), 'polygon.com', :target => '_blank'
  %li
    =link_to image_tag('https://storage.googleapis.com/coab-assets/images/voxmedia.png'), 'voxmedia.com', :target => '_blank'
  %li
    =link_to image_tag('https://storage.googleapis.com/coab-assets/images/aol.png'), 'aol.com', :target => '_blank'
  %li
    =link_to image_tag( 'https://storage.googleapis.com/coab-assets/images/sbn.png'), 'sbnation.com', :target => '_blank'
  %li
    =link_to image_tag( 'https://storage.googleapis.com/coab-assets/images/sbn.png'), 'sbnation.com', :target => '_blank'

%h2 Outside of work
%p My range of hobbies is wide and pretty nerdy, from industrial design, CNC routing, sailing, programming microcontrollers, soldering tiny circuits, cooking, chess and fine art.

%ul.photo-grid
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/rowboat.jpg'
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/pembroke.jpg'
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/bella.jpg'
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/stolat.jpg'
