.intro
  .text
    =image_tag "https://storage.googleapis.com/coab-assets/images/hello.svg"
    %p I'm a product designer out of Baltimore. My formal training is in graphic design and front end, with a focus on typography. My experience is with high traffic editorial brands, doing UI/UX, visual design and front end.
  =image_tag "https://storage.googleapis.com/coab-assets/images/me.jpg"
%ul.logo-strip
  %li
  %li
  %li
  %li
  %li
  %li
  %li
  %li
  %li
  %li

%hr
%p
  =image_tag "https://storage.googleapis.com/coab-assets/images/o.svg"
  utside of work I keep pretty busy, my design and technical hobbies are industrial design, CNC routing, programming microcontrollers, soldering tiny circuits and buiilding synthesiers.

%ul.photo-grid
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/rowboat.jpg'
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/pembroke.jpg'
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/bella.jpg'
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/stolat.jpg'
