.intro
  %h2 Hello.
  %p I'm a product designer out of Baltimore. My formal training is in graphic design and front end, with a focus on typography. My experience is with high traffic editorial brands, doing UI/UX, visual design and front end.
%ul.logo-strip
  %li
  %li
  %li
  %li
  %li
  %li
  %li
  %li
  %li
  %li

%h2 Outside of work
%p My range of hobbies is wide and pretty nerdy, from industrial design, CNC routing, sailing, programming microcontrollers, soldering tiny circuits, cooking, chess and fine art.

%ul.photo-grid
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/rowboat.jpg'
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/pembroke.jpg'
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/bella.jpg'
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/stolat.jpg'
