.intro
  .text
    =image_tag "https://storage.googleapis.com/coab-assets/images/pixel-hi.svg"
    %p I'm a product designer out of Baltimore. My formal training is in graphic design and front end, with a focus on typography.
    %p Specialized in the areas of user experience and interface design, information architecture, Graphic Design, marketing and interactive technology innovation. 
    %p In depth knowledge of front-end development and UX design methodologies such as Adobe Illustrator and Adobe Photoshop. A keen eye for aesthetics and detail with extensive industry experience and strong leadership abilities to drive organizational growth while maintaining high standards of usability, accessibility and quality across all devices
  =image_tag "https://storage.googleapis.com/coab-assets/images/me.jpg"
%ul.logo-strip
  %li
  %li
  %li
  %li
  %li
  %li
  %li
  %li
  %li
  %li

%hr
%p
  =image_tag "https://storage.googleapis.com/coab-assets/images/pixel-o.svg"
  utside of work I keep pretty busy, my design related hobbies are industrial design, CNC routing, programming microcontrollers, soldering tiny circuits and buiilding synthesiers.

%ul.photo-grid
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/stoLat.jpg'
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/pembrokePCB.jpg'
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/pembrokeDock.jpg'
  %li
    =image_tag 'https://storage.googleapis.com/coab-assets/images/slowboat.jpg'
