.resume
  .intro
    %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    %p Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quas. Veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia

  .r-main
    .r-body
      .experience
        %h3 Work Experience
        .work-entry
          .left
            %h4.company Freelance
            %h5.dates 2017-current
          .right
            %h4.role Front End & Visual Design
            %p.description Iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore consequuntur magni dolores eos qui ratione
        .work-entry
          .left
            %h4.company Vox Media
            %h5.dates 2011-2017
          .right
            %h4.role Principle Designer
            %p.description Iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore consequuntur magni dolores eos qui ratione
        .work-entry
          .left
            %h4.company AOL
            %h5.dates 2008-2011 Junior Designer
          .right
            %h4.role Front End & Visual Design
            %p.description Iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore consequuntur magni dolores eos qui ratione

      %h3 Education
      .edu-entry
        .left
          %h4.company Corcoran School of Art & Design
          %h5.dates 2004-2008
        .right
          %h4.role Digital Media & Graphic Design
          %p.description Iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore consequuntur magni dolores eos qui ratione
      .edu-entry
        .left
          %h4.company Tallinsk Univeriskaploot
          %h5.dates 2006-2007
        .right
          %h4.role Computer Science
          %p.description Iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore consequuntur magni dolores eos qui ratione


      -#%h3 Skills Summary

    .r-sidebar
      %h3 skills
      %h3 awards
