.resume
  .r-main
    .r-body
      .experience
        %h3 Work Experience
        .work-entry
          .left
            %h4.company Freelance
            %h5.dates 2017-present
            %h6 Baltimore
          .right
            %h4.role Front End & Visual Design
            %p.description I have been doing freelance design, code and consulting work for the past three years. I needed a break to recharge my creativity and avoid burn out. The flexibility of freelancing was an ideal feature for exploring multiple creative and technical interests.
        .work-entry
          .left
            %h4.company Vox Media
            %h5.dates 2011-2017
            %h6 Washington DC
          .right
            %h4.role Product Designer/Principle Designer
            %p.description As one of the first designers hired I did a little bit of everything and had the opportunity to learn a great deal as e a part of a rapid growth startup. I was responsible for managing visual design, desginers and implementing front end.

        .work-entry
          .left
            %h4.company AOL
            %h5.dates 2008-2011
            %h6 Dulles, VA

          .right
            %h4.role Junior Designer
            %p.description I started as an intern and wnt to work with them after college. I was thrown into the fire working on some pretty large editorial brands for their time. I was lucky to work on a great team of developers and designers that gave a fast education in professional design.

      %h3 Education

      .edu-entry
        .left
          %h4.company Tallin University
          %h5.dates 2006-2007
          %h6 Tallin, Estonia
        .right
          %h4.role Erasmus Study Abroad
          %p.description At the time Estonia was doing some incredible things with the internet, so I persuaded my college to let me take part in a year of a tech focused masters program at Tallin University. It was an incredible experience encompasing everything from a Finnish robotics professor, spotify beta tests to an insane Canadian nueroscientist.

      .edu-entry
        .left
          %h4.company Corcoran School of Art & Design
          %h5.dates 2004-2008
          %h6 Washington, DC
        .right
          %h4.role Digital Media & Graphic Design
          %p.description I majored in digital media and print design. Over an intense four year curriculum I learned a lot of design from some excellent professors.

      -#%h3 Skills Summary

    .r-sidebar
      -#.me my image
      %h3 Skills
      %h6 Print design
      %h6 UI/UX
      %h6 animation
      %h6 Web Typography
      %h6 HTML/SASS
      %dt
      %dl
      %h6 Vanilla JS
      %dt
      %dl
      %h6 Data Visualization
      %dt
      %dl
      %h6 Remote Work
      %dt
      %dl
      %h6 Project Leadership
      %dt
      %dl

      %h3 Awards
      =link_to "World's Best News Website 2012", 'https://www.snd.org/2013/03/meet-snds-2012-worlds-best-news-sites-and-apps-sb-nation-lenta-ru-and-the-guardian-and-observer-ipad-app/', :target => '_blank'
      %p Society of News Design
