%a{ :href => "https://storage.googleapis.com/coab-assets/svgs/JohnFuller-ProductDesigner-Resume-2021.pdf", :download => "JohnFuller-ProductDesign-Resume", :class => "download-pdf", :target => "blank"}
  .graphics
    =image_tag "https://storage.googleapis.com/coab-assets/svgs/downloadPDFteext.svg"
    =image_tag "https://storage.googleapis.com/coab-assets/svgs/downloadPDFicn.svg"
  =image_tag "https://storage.googleapis.com/coab-assets/svgs/resumeThumb.jpg"
%hr
.resume
  .r-main
    .r-body
      .experience
        %h3 Work Experience
        .work-entry
          .left
            %h4.company Freelance
            %h5.dates 2017-present
            %h6 Baltimore
          .right
            %h4.role Front End, Visual & UI/UX
            %p.description For the past three years, I have been doing design, code and consulting work on a freelance and contractual basis. For two and half of those years I had a steady contract with a real estate news and conference website called Inman.com. I was repsonsible for editorial illustrations,  UI/UX explorations, visual design and helping introduce new branding.

        .work-entry
          .left
            %h4.company Vox Media
            %h5.dates 2011-2017
            %h6 Washington DC
          .right
            %h4.role Lead Product Designer - Art Director

            %p.description As one of the first designers hired I did a little bit of everything which provided the opportunity to learn a great deal as a part of a rapid growth startup. I was responsible for managing visual design, desginers and implementing front end design.
            %p My Responsibilities also included communicating with directors of marketing, sales, legal and editorial.

        .work-entry
          .left
            %h4.company AOL
            %h5.dates 2008-2011
            %h6 Dulles, VA

          .right
            %h4.role Intern - Junior Designer
            %p.description Starting as an intern and then going to work with AOL after school, I was thrown into the fire working on some pretty large editorial brands for the time. I worked on a  team of dedicated developers and designers that provided a quick education in professional design.
            %p We were responsible for creating branding, working with UI designers and developers to support a suite of editorial sites.

      %h3 Education

      .edu-entry
        .left
          %h4.company Tallinn University
          %h5.dates 2006-2007
          %h6 Tallinn, Estonia
        .right
          %h4.role Information Mangement & Knowledge Enivironments
          %h5 Study Abroad

      .edu-entry
        .left
          %h4.company Corcoran School of Art & Design
          %h5.dates 2004-2008
          %h6 Washington, DC
        .right
          %h4.role BFA Digital Media & Graphic Design
          %h5 BFA

      -#%h3 Skills Summary

    .r-sidebar
      -#.me my image
      %h3 Design
      %h6 Graphic & Print design
      %h6 Art Direction
      %h6 UI/UX
      %h6 animation
      %h6 Data Visualization


      %h3 Code
      %h6 HTML/SASS
      %h6 Javascript
      %h6 Data Visualization
      %h6 CSS & js Animations

      %h3 Tools
      %h6 Atom
      %h6 Unix
      %h6 Git

      %h3 Awards
      =link_to "World's Best News Website 2012", 'https://www.snd.org/2013/03/meet-snds-2012-worlds-best-news-sites-and-apps-sb-nation-lenta-ru-and-the-guardian-and-observer-ipad-app/', :target => '_blank'
      %p Society of News Design
