%section.left-column
  %h1
    %span
      John
    %br
    Fuller
  %h4 Front End Designer

  %ul.nav
    %li.active
      =link_to 'home', static_pages_index_path, :class => active_class(static_pages_index_path)
    %li
      =link_to 'resume', static_pages_resume_path, :class => active_class(static_pages_resume_path)
    %li
      =link_to 'work gallery',static_pages_gallery_path, :class => active_class(static_pages_gallery_path)
    -#%li
      =link_to 'code samples', static_pages_code_path, :class =>  active_class(static_pages_code_path)

  .contact-info
    %h6.email
      johnsfuller@gmail.com
    %h6.phone-number
      202-681-8640
