%section.left-column
  %h1
    %a{:href => root_path}
      John
      %br
      Fuller
  %h4 Code, Design, UI/UX & Direction

  %ul.nav
    %li{:class => active_class(root_path)}
      =link_to 'design work', root_path
      %ul.subnav#subnav
        %li
          =link_to 'sbnu', "#sbnu", :class => "disable-click"
        %li
          =link_to 'Inman', "#inman"
        %li
          =link_to 'Unison', "#unison"
        %li
          =link_to 'vakko', "#vakko"
    -#%li{ :class => active_class(personal_path) }
      =link_to 'about', personal_path
    -#%li
      =link_to 'code samples', code_path, :class =>  active_class(code_path)

    %li{:class => active_class(resume_path)}
      =link_to 'resume', resume_path

    %li{ :class => active_class(personal_path) }
      =link_to 'about', personal_path

  .contact-info
    %h6 johnsfuller@gmail.com
    %h6 202-681-8640
