.slider
  =image_tag("https://storage.googleapis.com/coab-assets/images/slideFrame-bg.jpg", :class => "bg-item");
  =image_tag("https://storage.googleapis.com/coab-assets/images/slideFrame-usba.png", :class => "item");
  =image_tag("https://storage.googleapis.com/coab-assets/images/slideFrame-midi.png", :class => "item");
  =image_tag("https://storage.googleapis.com/coab-assets/images/slideFrame-audioJack.png", :class => "item-vertical");
  =image_tag("https://storage.googleapis.com/coab-assets/images/slideFrame-microUSB.png", :class => "item-vertical");
  =image_tag("https://storage.googleapis.com/coab-assets/images/slideFrame-wood-lit.png", :id => "lit-pembroke", :style => "z-index: 3", :class => "bg-item");
  =image_tag("https://storage.googleapis.com/coab-assets/images/slideFrame-wood.png", :id => "product-slide-pembroke", :style => "z-index: 2", :class => " bg-item");
