body[data-action='gallery'] {
  .project {
    h3 {
      font-size: 2.5rem;
      span {
        font-size: initial;
      }
    }
  }
  .gallery-entry {
    @media(max-width: 1284px) {
      margin-bottom: 1rem;
      padding: 0;
    }
    .entry-title {
      display: block;
      flex: none;
    }
    .slide {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      @media(max-width: 1284px) {
        justify-content: center;
        flex-wrap: wrap;
      }
    }
    .text {
      padding: 2rem;
      padding-top: 4rem;
      flex-basis: 20rem;
      @media(max-width: 1284px) {
        flex-basis: initial;
        padding: 0;
      }
    }
  }
  p {
    max-width: 720px;
  }
  img {
    width: 100%;
    //min-height: 320px;
    max-width: 720px;
    //max-height: 420px;
    background: black;
    margin-bottom: 1rem;
    @media(max-width: 1284px) {
      margin-bottom: .5rem;
    }
  }
}
