body[data-action='gallery'] {

  .project {
    margin-bottom: 4rem;
    h3 {
      font-size: 1.5rem;
      span {
        font-size: initial;
        text-transform: capitalize;
        opacity: .7;
      }
    }
    &#unison {
      .text {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
  .gallery-entry {
    margin-bottom: 3rem;
    @media(max-width: 1284px) {
      padding: 0;
    }
    .entry-title {
      display: block;
      flex: none;
    }

    .img-slide {
      align-items: flex-start;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      :nth-child(1), :nth-child(8) {
        flex-basis: 60%;
      }
      :nth-child(2), :nth-child(7) {
        flex-basis: 20%;
      }
      :nth-child(n+3):nth-child(-n+6) {
        flex-basis: 15%;
      }
      @media(max-width: 1284px) {

      }
    }
    .slide {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      @media(max-width: 1284px) {
        justify-content: center;
        flex-wrap: wrap;
      }
    }
    .text {
      padding: 2rem;
      padding-top: 4rem;
      flex-basis: 20rem;
      @media(max-width: 1284px) {
        flex-basis: initial;
        padding: 0;
      }
    }
  }
  p {
    max-width: 720px;
  }
  img {
    width: 100%;
    //min-height: 320px;
    max-width: 720px;
    //max-height: 420px;
    background: black;
    margin-bottom: 1rem;
    @media(max-width: 1284px) {
      margin-bottom: .5rem;
    }
  }
}
