* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #eee;
}
body {
  font-family: helvetica;
  font-weight: bold;
  background: #111;
  color: #eee;
}
p {
  font-weight: initial;
//  font-family: 'Lato', sans-serif;
  font-family: helvetica, sans-serif;
  font-size: .9rem;
  line-height: 1.6;
  margin-bottom: .75em;
}
h3 {
  margin: 1rem auto;
}
