body[data-action='index'] {
  .right-column {
    padding:6rem 4rem;
  }
  .img-pholder {
    width: 720px;
    height: 420px;
    background: black;
    margin-bottom: 2rem;
  }
  .cover-letter {
    width: 60%;
  }
}
