body {
  display: flex;
  //width:340px;
  top: 0;
  left: 0;
  position: fixed;
  //padding: 4rem 3rem;
  height: 100vh;
  .left-column {
    padding:5rem 3rem;
  }
  .right-column {
    padding: 15.5rem 2rem 2rem 4rem;
    //margin-left: 340px;
    //width: auto;
  }
}
