body {
  display: flex;
  max-width: 1440px;
  margin: auto;
  //padding: 4rem 3rem;
  min-height: 100vh;
  .left-column {
    padding: 5rem 4rem 5rem 3rem;
    top: 0;
    height: 100vh;
    position: fixed;
    width: 350px;
  }
  .left-col-proxy {
    flex-basis:350px;
    min-width: 350px;
  }
  .right-column {
    padding: 15.5rem 2rem 2rem 4rem;
    min-height: 101vh;
    position: relative;
  }
}
