section.left-column {
  h1 {
    font-family: "ag-bd";
    font-weight: bold;
    font-size: 60px;
    margin-bottom: .8rem;
    margin-left: -4px;
    text-transform: uppercase;
    letter-spacing: -2px;
    line-height: 0.72;
    span {
      margin-left:-9px;
    }
  }
  h4 {
    width: 120%;
  }
  .nav {
    padding: 4rem 2rem 4rem 0;
    font-family: "ag-bd";
    font-size:30px;
    letter-spacing: -1px;
    text-transform: uppercase;
    line-height: .7;
    > li ul {display: none}
    :nth-child(3) a.active ul {
      display: block;
    }
    @media(max-width: 1284px) {
      //height: 800px;
    }
    .active { ul {display: block;} }
    :first-child.active > a {
      color:cyan;
    }
    :nth-child(2).active > a {
      color:#ff0054;
      opacity: 1;
    }
    :nth-child(3).active {
      > a {
        color:yellow;
      }
    }
    > li {
      padding: 10px 0;
      position: relative;
      a {
        color:white;
        position: relative;
        &.active {
        //  color:yellow;
        }
        /*:after {
          content:"";
          position: absolute;
          padding:.22rem 3rem;
          left:-.2rem;
          top:1rem;
          background:magenta;
        }*/
      }
    }
  }
  .subnav {
    li {
      padding: 1px 0;
      a{
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        color: white;
        opacity:.5;
        &.disable-click {
          color: #ff0054;
          opacity:.7;
        }
      }
    }
  }
  .contact-info {
    line-height: 1.6;
    @media(max-width: 1284px) {
      display: none;
    }
  }
}
