section.left-column {
  h1 {
    font-family: "ag-bd";
    font-weight: bold;
    font-size: 60px;
    margin-bottom: .8rem;
    margin-left: -4px;
    text-transform: uppercase;
    letter-spacing: -2px;
    line-height: 0.72;
    a {
      margin-left:-9px;
    }
    img {
      height: 60px;
      background: transparent;
      display: inline;
      width: 36px;
      margin-bottom: -6px;
      margin-left: -10px;
      opacity: .6;
    }
  }
  h4 {
    font-family: "ag-bk";
    width: 120%;
  }
  .nav {
    padding: 4rem 2rem 4rem 0;
    font-family: "ag-bd";
    font-size:30px;
    letter-spacing: -1px;
    text-transform: uppercase;
    line-height: .7;
    > li ul {display: none}
    :nth-child(3) a.active ul {
      display: block;
    }
    @media(max-width: 1284px) {
      //height: 800px;
    }
    .active { ul {display: block;} }
    :first-child.active > a {
      color:#7400ff;
    }
    :nth-child(2).active > a {
      color:yellow;
      opacity: .9;
    }
    :nth-child(3).active {
      > a {
        color:cyan;
        opacity: .7;
      }
    }
    :nth-child(4).active > a {
      color:orange;
      opacity: .9;
    }
    > li {
      padding: 10px 0;
      position: relative;
      a {
        color:white;
        position: relative;
        &.active {
        //  color:yellow;
        }
        /*:after {
          content:"";
          position: absolute;
          padding:.22rem 3rem;
          left:-.2rem;
          top:1rem;
          background:magenta;
        }*/
      }
    }
  }
  .subnav {
    li {
      padding: 1px 0;
      a{
        -webkit-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
        color: white;
        opacity:.5;
        &.active {
          color: #ff0054;
          opacity:.7;
        }
      }
    }
  }
  .contact-info {
    h6 a {
      text-decoration: underline;
    }
    line-height: 1.6;
    :nth-child(2) {font-family: "ag-bk"; letter-spacing:2px;}
    @media(max-width: 1284px) {
      display: none;
    }
  }
}
