body[data-action='personal'] {
  p {
    padding: 1rem;
    width: 60%;
    @media(max-width: 1284px) {
      padding: 0rem;
      width: 100%;
    }
  }
  hr {
    margin: 0 1.5rem 4rem 1rem;
    @media(max-width: 1284px) {
      margin: 0 .5rem 3rem .5rem;
    }
  }

  .intro {
    display:flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 768px) {
      flex-wrap: wrap;
    }
    .text {
      margin-bottom: 2rem;
      img {
        width: 10rem;
      }
    }
    > img {
      width: 28rem;
      margin:3rem;
      @media(max-width: 768px) {
        width:320px;
        margin: auto;
      }
    }
  }

  p > img { width: 36px;}

  //margin-bottom: 2rem;
  //display: flex;
  @media(max-width: 1284px) {
    flex-wrap: wrap;
  }
  > :nth-child(1) {
    //flex-basis: 4rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
  }
  .byline {
    display:block;
    font-size: .9rem;
    font-style: italic;
  }
  /*> :nth-child(2) {
    font-size:2rem;
    flex-basis: 70rem;
    margin-top: -.75rem;
  }*/
  .photo-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    li {
      max-width: 50%;
      margin-left: -2px;
      padding: 1rem;
      @media(max-width: 1284px) {
        width:100%;
        padding: 1rem 0;
      }
      img {
        width: 100%;
      }
    }
  }

  ul.logo-strip {
    margin:auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 946px;
    @media(max-width: 1284px) {
      margin-top: 2rem;
    }


    li {
      display: inline-block;
      width: 155px;
      height: 80px;
      opacity: .7;
      background-size: 504%;
      margin:0 1rem;
      @media(max-width: 1284px) {
        margin:initial;
        //width: 9.4rem;
      }
      &:hover {
        opacity: 1;
      }
      &:nth-of-type(1) {
        background-image: url("https://storage.googleapis.com/coab-assets/images/clientlogosprite.gif");
      }
      &:nth-of-type(2) {
        background-image: url("https://storage.googleapis.com/coab-assets/images/clientlogosprite.gif");
        background-position: -632px 0px;
      }
      &:nth-of-type(3) {
        background-image: url("https://storage.googleapis.com/coab-assets/images/clientlogosprite.gif");
        background-position: -316px 0;
      }
      &:nth-of-type(4) {
        background-image: url("https://storage.googleapis.com/coab-assets/images/clientlogosprite.gif");
        background-position: -474px 0;
      }
      &:nth-of-type(5) {
        background-image: url("https://storage.googleapis.com/coab-assets/images/clientlogosprite.gif");
        background-position: 0 -216px;
      }
      &:nth-of-type(6) {
        background-image: url("https://storage.googleapis.com/coab-assets/images/clientlogosprite.gif");
        background-position: -158px -216px;
      }
      &:nth-of-type(7) {
        background-image: url("https://storage.googleapis.com/coab-assets/images/clientlogosprite.gif");
        background-position: -158px 0;
      }
      &:nth-of-type(8) {
        background-image: url("https://storage.googleapis.com/coab-assets/images/clientlogosprite.gif");
        background-position: -474px -216px;
      }
      &:nth-of-type(9) {
        background-image: url("https://storage.googleapis.com/coab-assets/images/clientlogosprite.gif");
        background-position: -316px -216px;
      }
      &:nth-of-type(10) {
        background-image: url("https://storage.googleapis.com/coab-assets/images/clientlogosprite.gif");
        background-position: -632px -216px;
      }
    }
  }

}
