body[data-action='resume'] {
  .resume {
    //padding: 9rem 4rem;
  }
  .intro {
    padding-right: 6rem;
    margin-bottom: 2rem;
  }
  h3 {
    font-family: 'Arial Black';
    font-size: 1.25rem;
  }
  .r-main {
    display: flex;
    .r-body {
      flex-grow: 1;
    }
    .r-sidebar {
      flex-basis: 12rem;
    }
  }
  .work-entry, .edu-entry {
    display: flex;
    margin-bottom: 2rem;
    .left {
      min-width: 240px;
      padding-right: 4rem;
    }
    .right {
      padding-right: 6rem;
    }
  }

}
