body[data-action='resume'] {
  .resume {
    //padding: 9rem 4rem;
    max-width: 768px;
    h3 {
      font-family: 'Arial Black';
      font-size: 1.25rem;
      color:#444;
    }
    h4 {
      margin-bottom: .5rem;
    }
    h5 {
      color:#777;
      font-style: italic;
      font-weight: initial;
    }
  }
  .r-main {
    display: flex;
    .r-body {
      flex-grow: 1;
    }
    .r-sidebar {
      flex-basis: 10rem;
      padding-top: 4rem;
      .me {
        background: #222;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-bottom: 2rem;
      }
    }
  }
  .work-entry, .edu-entry {
    display: flex;
    margin-bottom: 2rem;
    .left {
      min-width: 240px;
      padding-right: 4rem;
    }
    .right {
      padding-right: 6rem;
    }
  }

}
